<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <title>Facturacion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../../css/styleHeadFooter.css}">
    <link rel="stylesheet" th:href="@{../../css/Menu.css}">
    <link rel="stylesheet" th:href="@{../../css/formLogin.css}">
    <link rel="stylesheet" th:href="@{../../css/productos.css}">

</head>
<body>
<header th:fragment="header">
<div class="header">
    <div>
        <div>
            <p>Facturación </p> <p>electronica</p></div>
        <div><img class="logo" src="../../static/Images/logo.png" alt=""/></div>
    </div>

    <ul class="Menu">
        <li>
            <a href="/presentation/AcercaDe/show">Acerca De</a>
        </li>
        <li>
            <a href="/presentation/Login/show">Login</a>
        </li>
        <li>
            <a href="/presentation/OUT/show">Logout</a>
        </li>
        <li>
            <a href="/presentation/Facturar/show">Prueba</a>
        </li>
        <li>
            <a href="/presentation/Productos/show">Productossss</a>
        </li>
        <li>
            <a href="">All view's</a>
            <ul>
                <li><br></li>
                <li><a href="/presentation/Usuarios/show" title="-">Usuarios</a></li>
                <li><a href="/presentation/Clientes/show" title="-">Clientes</a></li>
                <li><a href="/presentation/Productos/show" title="-">Productos</a></li>
                <li><a href="/presentation/Facturas/show" title="-">Facturas</a></li>
            </ul>
        </li>
    </ul>
</div>
</header>

<footer th:fragment="footer">
    facturasOnline@best.team.com
</footer>


</body>
</html>