<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <link rel="stylesheet" href="../../../static/css/Menu.css">
    <link rel="stylesheet" href="../../../static/css/styleHeaderFooter.css">
</head>
<body>
<div class="header">
    <div>
        <div>
            <p>Facturación </p> <p>electronica</p></div> <div><img class="logo"
                                                                   src="../../../static/Images/logo.png"></div>
    </div>
    <div>
        <ul class="Menu">
            <li>
                <a href="/presentation/AcercaDe/show">Acerca De</a>
            </li>
            <li>
                <a href="/presentation/Facturar/show">Facturar</a>
            </li>
            <li>
                <a href="/presentation/Clientes/show">Clientes</a>
            </li>
            <li>
                <a href="/presentation/Productos/show">Productos</a>
            </li>
            <li>
                <a href="/presentation/Facturas/show">Facturas</a>
            </li>
            <li>
                <a href="/presentation/Usuarios/show">Usuario</a>
            </li>
            <li>
                <a href="/presentation/OUT/OUT">Logout</a>
            </li>
        </ul>
    </div>
</div>

<div>
    <p class="titulo">Estudiantes</p>
    <ul>
        <li class="list-gray-arrow">Anner Angulo Gutierrez </li>
        <li class="list-gray-arrow"> Ignacio Bonilla Rojas</li>
        <li class="list-gray-arrow"> Juan Pablo Cartin Esquivel</li>
    </ul>
</div>
<div>
    <footer>
        facturasOnline@best.team.com
    </footer>
</div>
</body>
</html>